center{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
    border: 0px solid;
    height: 100vh;
    background-image: url("hajime-no-ippo-100M.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.summary{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
